<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Portfolio</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body >
  <div">
  
    <header>
        <h1>My Portfolio</h1>
      </header>
      <nav>
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="https://drive.google.com/file/d/1HSyfaskDgXAlUf6Hz4Om8j35Is2V0JTp/view?usp=sharing">Resume</a></li>
        </ul>
      </nav>
      

      <section id="about">
    
    <h2 style="color: darkcyan;">About Me!<div class="profile-pic-container">
        <div class="profile-pic-background"></div>
        <img src="/static/pro.JPG" alt="Profile Picture" class="profile-pic">
    </div></h2>
    
        <div class="intro-text">
         <p>Welcome to my portfolio! My name is Vinayak Pawar  and I am a passionate web developer.I learned basic fundamental of different skills in college </p>
           <p>Such as Python, Java, SQL, Angular, and I grew up my interest in web-applictions, i also have interest in  various new technologies. </p>
           <p> I always try my best to work and learn on new things and keep up to latest trends. Apart from this, I love sports, gaming, and cycling. I also love to travel to new places </p>
            <p>and I'm always ready for treks and adventures.</p>
        </div>
      </section>
          <span style="font-style: italic; text-align: center; display: block; color: gray;">Click on the image to view the project</span>

      <section id="projects">
        <div class="project-container">
            <h2 style="color: chocolate;">Projects</h2>
            <div class="project">
              <h3 style="color: chocolate;" >Project 1</h3>
              <a href="https://movieonlinedatabase.netlify.app">
              <img src="static/project1.png" alt="Project 1 Image">
              </a>
              <p style="color: chocolate;"  >IMDB clone using Angular </p>
             
            </div>
            <div class="project">
                <h3 style="color: chocolate;" >Project 2</h3>
                <a href="https://employeecrud07.netlify.app">
                <img src="static/project2.png" alt="Project 2 Image">
                </a>
                <p style="color: chocolate;"  >CRUD oprations using Angular</p>
                
              </div>
              <div class="project">
                <h3 style="color: chocolate;" >Project 3</h3>
                <a href="https://random-memes.onrender.com">
                <img src="static/project3.png" alt="Project 3 Image">
                </a>
                <p style="color: chocolate;"  >Random Memes </p>
                
              </div>
        </div>
        
      </section>
      <section id="contact">
        <h2>Contact Me</h2>
        <div class="social-media-links">
            <a href="https://in.linkedin.com/in/vinayak-pawar-379a24123" target="_blank" class="social-link">
                <img src="static/linkedin.png" alt="linkedin">
                <p>LINKEDin</p>
            </a>
            <a href="https://github.com/vinghost" target="_blank" class="social-link">
                <img src="static/git.png" alt="github">
                <p>GITHUB</p>
                
            </a>
            <a href="mailto:vinghost09@gmail.com" target="_blank" class="social-link">
                <img src="static/mail.png" alt="mail">
                <p>GMAIL</p>
            </a>
        </div>
    </section>
</div>
</body>
</html>
